<%- include('../partials/header') %>

<h1>Library</h1>
<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th class="notes" scope="col">Notes</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
<tbody>
        <% books.forEach(function(b) { %>
            <tr>
                <td><%= b.title %></td>
                <td><%= b.author %></td>
                <td class="notes"><%= b.notes %></td>
                <td><form method="POST" action="/my-library/<%= b._id %>?_method=DELETE">
                   <button>Delete</button></form></td>
                <td><form method="POST" action="/my-library/<%= b._id %>?_method=PUT">
                    <button>Edit</button></form></td>
            </tr>
        <% }); %>
    </tbody>
    </table>
</div>

<a href="/new">Add a New Book to my Library</a>

<%- include('../partials/footer') %>